<ion-header>
    <ion-toolbar>
        <ion-title>
            {{'schedule.title' | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar [debounce]="0" (ionChange)="filterItems($event)"></ion-searchbar>
    <ion-item *ngFor="let item of $items|async">
        <ion-avatar slot="start">
            <img src="{{item.image}}"/>
        </ion-avatar>
        <ion-label>
            <ion-text color="primary">
                <h3 text-wrap>{{item.title}}</h3>
            </ion-text>
            <p text-wrap>{{item.speakerName}}</p>

            <ion-text color="dark">
                <p>{{getCategory(item.category)}}</p>
            </ion-text>

            <ion-text color="danger">
                <p>{{item.time.init | date: 'HH:mm'}} - {{item.time.end | date: 'HH:mm'}}</p>
            </ion-text>
        </ion-label>
        <ion-icon item-right color="success" [name]="getIconByType(item.type)"></ion-icon>
    </ion-item>
</ion-content>
